<nav class="border-b border-gray-200 flex items-stretch text-sm font-mono divide-x divide-gray-200">
    <a href="https://docs.openpolicy.sh" target="_blank" class="h-14 flex-1 flex items-center justify-center hover:bg-gray-50 transition-colors">Docs</a>
    <a href="https://github.com/jamiedavenport/openpolicy.sh" target="_blank" class="h-14 flex-1 flex items-center justify-center hover:bg-gray-50 transition-colors">Github</a>
    <a href="https://www.npmjs.com/package/@openpolicy/sdk" target="_blank" class="h-14 flex-1 flex items-center justify-center hover:bg-gray-50 transition-colors">NPM</a>
</nav>